.header {
  display: grid;
  place-items: start;
  grid-template-columns: auto auto;
  justify-content: space-between;
  height: 32px;
}
.headerTitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: 32px;
  white-space: nowrap;
}
