.button {
  background-repeat: no-repeat;
  background-color: unset;
  border: unset;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  flex-wrap: nowrap;
}
.button:focus {
  outline: none;
}
.buttonThemeBlue {
  border: 1px solid #459df5;
  background-color: #459df5;
  color: #fff;
}
.buttonThemeBlue .buttonIcon {
  fill: #fff;
}
.buttonThemeLink {
  color: #459df5;
}
.buttonThemeLink .buttonIcon {
  fill: #459df5;
}
.buttonThemeText .buttonIcon {
  fill: #000;
}
.buttonSizeDefault {
  padding: 8px 16px;
}
.buttonSizeSmall {
  padding: 4px 8px;
}
.buttonSizeDefault + .buttonIconOnly {
  padding: 8px 8px;
}
.buttonSizeSmall + .buttonIconOnly {
  padding: 4px 4px;
}
.buttonIcon {
  width: 16px;
  height: 16px;
}
.buttonIcon + .buttonText {
  margin-left: 8px;
}
.button_size_small > .buttonIcon + .button__text {
  margin-left: 4px;
}
