.checkboxContent {
  display: inline-block;
  position: relative;
  width: 100%;
}
.checkboxLabel {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 32px;
  line-height: 16px;
  padding: 8px 0 8px 24px;
  cursor: pointer;
}
.checkboxLabel::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 0;
  z-index: 1;
  height: 16px;
  width: 16px;
  border: 1px solid #bad8f5;
  border-radius: 2px;
  background-color: #fff;
}
.checkboxLabel::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 0;
  z-index: 2;
  height: 16px;
  width: 16px;
  border: 1px solid #bad8f5;
  border-radius: 2px;
  background-image: url(../../../icons/checkmark.svg);
  background-repeat: no-repeat;
  opacity: 0;
}
.checkbox {
  width: 100%;
}
.checkboxInput {
  display: none;
}
.checkboxInput:checked + .checkboxLabel::before {
  background-color: #459df5;
}
.checkboxInput:checked + .checkboxLabel::after {
  opacity: 1;
  border: none;
}
input[type="checkbox"]:checked + label {
  color: #459df5;
}
