.dropdownBlock {
  margin-right: 48px;
}
.dropdownBlock:last-child {
  margin-right: 0;
}
.checkboxRadioDropdown {
  height: 208px;
}
.dropdown {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
}
.dropdownTitle {
  display: inline-block;
  margin-bottom: 8px;
}
.dropdownItem {
  margin-bottom: 8px;
}
.dropdownItem:last-child {
  margin-bottom: 0;
}
