.checkboxRadioDropdown {
  height: 208px;
}
.dropdown {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
}
.dropdownTitle {
  display: inline-block;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
